{% extends "base.html" %}
{% load static %}

{% block title %} Deletar Ilha {% endblock title %}

    {% block body %}

        <div class="parent">
            <p>Você perderá todos os miis cadastrados na ilha.</p>
            <p>Quer mesmo deletar a ilha {{ilha.nome_ilha}}?</p>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'home' %}">Cancelar</a>
                <button type="submit">Confirmar</button>
            </form>
        </div>
        
    {% endblock body %}