{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Deletar Mii</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chokokutai&family=Copse&family=Palette+Mosaic&display=swap" rel="stylesheet">
    </head>

    <header>
        RegistreMii!
    </header>

    <body>
        <div class="parent">
            <p>Quer mesmo deletar o mii {{mii.nome_mii}}?</p>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'painelmii' %}">Cancelar</a>
                <button type="submit">Confirmar</button>
            </form>
        </div>
    </body>
</html>