{% extends "base.html" %}
{% load static %}

    {% block title %} Detalhes de {{mii.nome_mii}} {% endblock title %}

    {% block body %}

        <div class="parent">
            <a href="{% url 'painel' mii.ilha_mii_id %}">Voltar</a>

            {% if mii.foto_mii %}
            <img src="{{ mii.foto_mii.url }}" width="150">
            {% else %}
            <img src="{% static 'imgs/miidf.png' %}" width="150">
            {% endif %}

            <td>Nome: {{mii.nome_mii}}</td>
            <td>Idade: {{mii.idade_mii}}</td>
            <td>Data de nascimento: {{mii.datadenascimento_mii}}</td>
            <td>Comida Favorita 01: {{mii.comidafavorita1_mii}}</td>
            <td>Comida Favorita 02: {{mii.comidafavorita2_mii}}</td>
            <td>Personalidade: {{mii.personalidade_mii}}</td>
            <td>Gênero: {{mii.genero_mii}}</td>
            <td>Gênero que gosta: {{mii.generoquegosta_mii}}</td>
            <td>Felicidade: {{mii.felicidade_mii}}</td>
            <td>Mora em: {{mii.ilha_mii}}</td>

            <form method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                <input type="submit" value="Editar">
                {% csrf_token %}
            </form>
        </div>

    {% endblock body %}