{% extends "base.html" %}
{% load static %}

    {% block title %} Ilha {{ilha.nome_ilha}} e Miis {% endblock title %}

    {% block body %}
    
        <div class="parent2">

            <div class="nav3">

                <div class="div4">
                    <img class="imgilha" src="{% static 'imgs/ilha.png' %}">
                </div>

                <a class="opcao" href="{% url 'home' %}">Voltar</a>
                <a class="opcao" href="{% url 'add_mii' ilha_id %}">Adicionar novo Mii</a>
                  
                <div>
                    <table>
                        <td>{{ilha.nome_ilha}}</td>
                        <td>Criada por: {{ilha.proprietario_ilha.user.username}}</td>
                        <td>Data de criação: {{ilha.data_criacao_ilha}}</td>
                        <td>Quantidade de habitantes: {{qtd_mii}}</td>
                    </table>
                </div>

            </div>

            <div class="filho2">
                

                <table>
                    <thead>
                        <th></th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Data de Nascimento</th>
                        <th>Comida Favorita 01</th>
                        <th>Comida Favorita 02</th>
                        <th>Personalidade</th>
                        <th>Gênero</th>
                        <th>Gênero que gosta</th> 
                        <th>Felicidade</th>
                    </thead>
                    {% for mii in miis %}
                    <tr>
                        <td>
                        {% if mii.foto_mii %}
                        <img class="iconemii" src="{{ mii.foto_mii.url }}" width="45">
                        {% else %}
                        <img class="iconemii" src="{% static 'imgs/miidf.png' %}" width="45">
                        {% endif %}
                        </td>
                        <td><a href="{% url 'detalhes_mii' ilha_id mii.id %}">{{mii.nome_mii}}</a></td>
                        <td>{{mii.idade_mii}}</td>
                        <td>{{mii.datadenascimento_mii}}</td>
                        <td>{{mii.comidafavorita1_mii}}</td>
                        <td>{{mii.comidafavorita2_mii}}</td>
                        <td>{{mii.personalidade_mii}}</td>
                        <td>{{mii.genero_mii}}</td>
                        <td>{{mii.generoquegosta_mii}}</td>
                        <td>{{mii.felicidade_mii}}</td>
                        <td><a href="{% url 'edit_mii' ilha_id mii.id %}">Editar</a><br><a href="{% url 'del_mii' ilha_id mii.id %}">Excluir</a></td>
                    </tr>   
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endblock body %}