{% extends "base.html" %}
{% load static %}

{% block title %} Principal {% endblock title %}

    {% block body %}
        <div class="parent">

            <div class="filho">
                <div class="container">
                    <div class="dvs1">
                        {% if user.perfil.foto %}
                        <img class="fotodeperfil" src="{{ user.perfil.foto.url }}" width="150">
                        {% else %}
                        <img class="fotodeperfil" src="{% static 'imgs/fotodf.jpg' %}" width="150">
                        {% endif %}
                    </div>

                    <div class="dvs1">
                        <p>Nome: {{user.username}}</p>
                        <p>E-mail: {{ user.email }}</p>

                        <div class="container2">
                            <p class="vtm"><a href="{% url 'todos_mii' %}">Ver todos os miis</a></p>
                            <img class= "bicho" src="{% static 'imgs/Mii.webp' %}">
                        </div>
                        
                    </div>



                </div>
                
                <div class="container3">

                    <div class="qntmiis">
                        <p>{{qtd_mii}}</p>
                    </div>

                    <div class="li">
                        <div class="painelnav">
                            <div class="itemnav"><a href="{% url 'add_ilha' %}">Adicionar Ilha</a></div>
                        </div>
                        <div class="tailhas">
                            <ul>

                                {% comment "página descontinuada" %}
                                <li>
                                    <a href="{% url 'painelilha' %}">Painel de Ilhas</a>
                                </li>
                                {% endcomment %}

                                <table class="tabelai">
                                    <thead>
                                        <th>Nome da Ilha</th>
                                    </thead>
                                    {% for ilha in ilhas %}
                                    <tr>
                                        
                                        <td><a href="{% url 'painelmii' ilha.id %}">{{ilha.nome_ilha}}</a></td>
                                        <td><a href="{% url 'edit_ilha' ilha.id %}">Editar</a></td>
                                        <td><a href="{% url 'del_ilha' ilha.id %}">Excluir</a></td>
                                    </tr>
                                    {% endfor %}
                                
                                </table>
                            </ul>
                        </div>
                    </div>
                </div>
                

                

                <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="botao1">Sair do Sistema</button>
                </form>

            </div>

        </div>
    {% endblock body %}

    
