html {
    background-image: url(../imgs/aquarium.png);  
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.titulo {
    color:rgb(155, 179, 255);
    font-size: 45px;
    align-self: center;
    
}

.parent {
    width: 40%;
    height: 70%;
    background-color:rgb(255, 255, 255);
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    font-family: "Copse", serif;
    color:rgb(155, 179, 255);
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);

}

.filho {
    margin:auto;
    text-align: center;
}

.form-control{
    color:blue
}

header{
    color:azure;
    font-size: 80px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Palette Mosaic", system-ui;
}

form{
    font-size: 20px;
}
/*botoes*/

.botao1{
    background-color: rgb(155, 179, 255);
    font-size: 16px;
    font-family: "Copse", serif;
    border: none;
    padding: 15px 30px;
    margin-top: 12px;
    border-radius: 20px;
    margin-bottom: 12px;
}






/*imagens*/

.mii {
    height: 10px;
    width: 10px;

}

.bicho {
    height: 120px;
    width: auto;
}


/*fontes*/
.palette-mosaic-regular {
  font-family: "Palette Mosaic", system-ui;
  font-weight: 400;
  font-style: normal;
}

.copse-regular {
  font-family: "Copse", serif;
  font-weight: 400;
  font-style: normal;
}
