{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <title>Cadastro Ok</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chokokutai&family=Copse&family=Palette+Mosaic&display=swap" rel="stylesheet">
    </head>

    <header>
        RegistreMii!
    </header>

    <div class="parent">

        <div class="filho">
            <p class="titulo">Cadastro Completo!</p>
            <p class="textoa"> Um link de ativação da conta será enviado para o seu e-mail!</p>

            
            <img class="mii" src="{% static 'imgs/mii.gif' %}">
 
            {% comment "erro já resolvido" %}
            <p class="legendapequena">Olhe o terminal para receber o link de ativação. NÃO CLIQUE NO LINK, copie e cole no seu navegador, além disso remova o simbolo de "=" do link caso haja. Se o token aparecer como inválido, verifique se copiou o resto do link após o "=".</p>
            {% endcomment %}
            <p>Conta ativada? <a href="{% url 'login' %}">Faça Login</a></p>
        </div>

    </div>
    
    

    
</html>