{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Erro!</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chokokutai&family=Copse&family=Palette+Mosaic&display=swap" rel="stylesheet">
    </head>

    <header>
        RegistreMii!
    </header>

    <div class="parent">

        <div class="filho">
            <p class="titulo">Token Inválido</p>

            <p>O token está incorreto! Insira o token adequado!</p>
        </div>

    </div>
    
</html>